<form action="/answer" data-turbo="false">
  <div class="form-floating mb-3 m-5" style="width: 200px;">
    <input class="form-control" type="text" name="question" id="floatingInput" placeholder="Let's talk">
    <label for="floatingInput" class="form-label">Question</label>
  </div>
  <div>
    <input class="btn btn-primary m-5" style="width: 200px;" type="submit" value="Ask!">
  </div>
</form>
